@font-face {
  font-family: 'hanna';
  src: url('../src/assets/fonts/BMHANNAProOTF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
