.avatar1 {
  display: flex;
  justify-content: flex-end;
}

.avatar1 img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
.avatar2 img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
.container {
  border: solid 1px black;
  border-radius: 10px;
  margin: 10px;
}

textarea {
  width: 100%;
}

.input_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.rce-input-textarea {
  margin: 0px 30px 0px 30px;
}

.me {
  text-align: right; 
  background-color: #a0e5e5; 
  margin-right: 10px; 
  
 
  .rce-mbox-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
  }
  
  
  .rce-avatar-container.default.default {
    width: 5vw;
   
  }
}

.other {
  text-align: left; 
  background-color: orange; 

  .rce-avatar-container.default.default {
    width: 5vw; 
  
  }
}

.message_container {
  max-height: 75vh; 
  overflow: auto;
}