@keyframes rotateClockInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotateClockInfinite 2s linear infinite;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #46178b;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .first_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .background_img {
      width: 1920px;
      height: 902px;
      z-index: 1;
    }

    .waitMate {
      width: 815px;
      height: 220px;
    }

    .waitMate_letter {
      width: 610px;
      height: 48px;
      z-index: 2; 
    }

    .waitMateProxy {
      width: 736px;
      height: 212px;
      z-index: 2; 
    }

    .button {
      display: flex;
      position: relative;

      .login {
        background-image: url('../../../../client/public/images/main/Group 5.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: none;
        width: 252px;
        height: 54px;
        margin-right: 20px;
        z-index: 3; 
      }

      .kakao_login {
        background-image: url('../../../../client/public/images/main/Group 6.png');
        background-size: 252px 54px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: none;
        width: 252px;
        height: 54px;
        z-index: 3; 
      }
    }
  }

  .character_column {
    align-items: center;

    .character_character {
      width: 348px;
      height: 110px;
    }

    .character_background {
      width: 1920px;
      height: 1254px;
      z-index: 99;
    }
    .character_group {
      display: flex;
      z-index: 100;
      .character_character_Group_2,
      .character_character_Group_7 {
        width: 530px;
        height: 830px;
        margin-right: 20px; 
      }
    }
  }

  .strength_column {
    .strength_Waitmate_3 {
      width: 815px;
      height: 220px;
    }
  }

  .chatting_column {
    display: flex;
    justify-content: space-between; 

    .chatting_Group_3 {
      width: 551.11px;
      height: 700px;
    }

    .chatting_Group_4 {
      width: 561px;
      height: 187px;
    }
  }
}
